body {
    background-image: url(imagem-fundo.png);
    background-size: auto; 
    background-repeat: no-repeat; 
    background-position: center;
    color: white;
    background-size: auto;
    width: 300px; 
    height: auto;  
    display:math
    ;  
}
.row{

    color: rgb(229, 9, 20);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    flex-shrink: initial;
    width: 20px;
    height: 50´x;
    padding-right: 100px;
    padding-left: 50px;
    margin-top: 10px;
    margin: 0 auto; 
    margin: top 100px;
    background-color: lightblue;
    height: 40px;
    width: 50%;
    border:2px solid red;
    border-bottom: 4px solid blue;
    padding:4px;
    margin:10px; 
    margin-left: 5660px;
}

.idioma{
    width: 100px;
       
}

.entrar{
    max-width: 66;
    border: 1px solid red;
    padding: 4px;
    margin: auto;
}

.topo{
    
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin-top: 50px;
        
}

.logo{
    width: 9.25rem;
    height: 2.5rem;
    margin-left: 3.5rem;
}

.botao-linguagem{
    margin-right: 3.5rem;  
    display: flex;
}

.botao-entrar {
    margin-left: 20px;
    background-color: red;
}


h1{
    color: rgb(229 9 20);
    display: block;
    font-size: 50px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-weight: bold;    
    
}
.texto{
    display: flex;
    font-size: 48px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    color: white;
    text-align: center;
    font-weight: 900px;
    margin: auto;
    border: 1px transparent;
    padding: 10px;
    container: 10px
    ;

}

.texto2{
    display: flex;
    font-size: 18px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    color: white;
    text-align: center;
    font-weight: 900px;
}



